a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Kosugi Maru", sans-serif;
}
body h1 {
  line-height: 0;
}
body button {
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
  /* border-color: #1a1a1a; */
}
body button:hover {
  border-color: #646cff;
}
body button:focus, body button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
body .acqCurLocation {
  text-align: center;
}

#content {
  padding: 20px; /* コンテンツ領域に余白を追加 */
}

.bottom-menu {
  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* メニューバーの高さ */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 影の追加 */
}

.bottom-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.menu-item {
  display: flex;
  width: 70px;
  flex-direction: column;
  align-items: center;
}

.menu-item svg {
  width: 35px; /* SVG のサイズに合わせて調整 */
  height: 35px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* 中央寄せ */
  padding: 10px;
  background-color: #ffffff; /* ヘッダーの背景色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ヘッダーに影を追加 */
  z-index: 3000; /* オプション: ヘッダーが他の要素の上に表示されるようにします */
}

#header img {
  max-height: 50px;
  margin-right: 10px; /* ロゴとアプリ名の間にスペースを設ける */
}

#header p {
  margin: 0; /* デフォルトのマージンを削除 */
}

#content {
  width: 90%;
  margin-top: 70px; /* ヘッダーの高さ + 余白分を指定 */
  margin-bottom: 60px; /* メニューバに指定 */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffffbe;
  }
  a:hover {
    color: #659bff;
    fill: #659bff;
  }
  button {
    background-color: #d1d1d186;
    border-color: #000000;
  }
}
