h1 {
    text-align: center;
}

#page_title {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 100px;
}

#content_title {
    text-align: center;
}

#genre, #quiz {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    height: 30px;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

#random {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

#menu_quiz, 
#genre:hover, 
#quiz:hover, 
#random:hover {
    color: #659bff;
    fill: #659bff;
}

#quiz_content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz_image {
    margin-bottom: 20px;
}

#correct {
    color: red;
    font-size: 50px;
    margin: 0 0 0 25px;
}

#incorrect {
    color: blue;
    font-size: 50px;
    margin: 0 0 0 20px;
    margin-bottom: 30px;
}

#explanation {
    margin-bottom: 30px;
}

button {
    margin-top: 20px;
}

ion-icon {
    height: 30px;
    width: 30px;
}

#category_text {
    line-height: 30px;
}

#problem_statement, #explanation {
    display:inline-block;
    vertical-align: top;
    width: 16rem;
    height: 5rem;
}
